body {
  padding: 0;
  margin: 0;
  background-color: rgb(44, 44, 44);
  color: white;
}

.App {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  gap: 25px;
  min-height: 100vh;

}

.content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  grid-column: 1/4;
  text-align: center;
  background-color: rgb(30, 30, 30);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login-btn-header {
  width: 6vw;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.footer {
  grid-column: 1/4;
  background-color: rgb(30, 30, 30);
  min-height: 15vh;
}

.header h1 {
  font-size: 2.5rem;
}

.author-details {
  text-align: center;
}

.new-post {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 10px;
  grid-template-columns: minmax(40vw, 1fr);
}




.form-title,
.form-text {
  width: 100%;
  height: 100%;
}

#post-title,
#post-text {
  border-radius: 10px;
  border: 3px rgb(193, 186, 186) solid;
  padding: 10px;
  width: 100%;
}

#post-text {
  height: 10vh;
}


.submit-new-post {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 22px;
}

.submit-new-post:hover {
  background-color: #0056b3;
}

.submit-new-post:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.posts-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;

}

.post {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  color: black;
  text-align: center;
  overflow: hidden;
}

.post a {
  text-decoration: none;
  color: #333;
}

.post h2 {
  margin-bottom: 10px;
  color: black;
}

.post h3 {
  color: #007bff
}

.post h5 {
  color: #666;
  margin-bottom: 8px;

}

.invalid:focus {
  outline: red;
}



.back-home {
  text-decoration: none;
  color: white;
}

.login-form {
  border: 1px solid white;
  border-top: 30px solid white;
  border-radius: 15px;
  padding: 25px;
  grid-column: 2;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  gap: 10px;

}

.login-btn-container button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  margin: 5px;
  text-align: center;
}

.login-btn-container button:hover {
  background-color: #0056b3;
}

a:link {
  text-decoration: none;
  color: white;
}

.error-login {
  font-size: 12px;
  font-weight: bold;
  color: red;
  background: white;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
}

@media screen and (max-width: 721px) {
  .App {
    grid-template-columns: 0.1fr 1fr 0.1fr;
  }

  .login-btn-container {
    display: flex;
  }

  .login-btn-header {
    width: 100px;
  }

}